/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Responsive Helpers -----------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	     04. Header -----------------------------------
	     05. Main -------------------------------------
	     06. Shell ------------------------------------
	     07. Sidebar ----------------------------------
	     08. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Banner -----------------------------------
	     02. Bar --------------------------------------
	     03. Button -----------------------------------
	         Button Block -----------------------------
	     04. Dropdown Cols ----------------------------
	     05. Feature ----------------------------------
	     06. Form Elements ----------------------------
	     07. Form -------------------------------------
	     08. Intro ------------------------------------
	     09. List -------------------------------------
	     10. List Features ----------------------------
	     11. List Partners ----------------------------
	     12. Logo -------------------------------------
	     13. Nav --------------------------------------
	     14. Nav Utilities ----------------------------
	     15. Nav Footer -------------------------------
	     16. Navbar -----------------------------------
	     17. Products ---------------------------------
	     18. Recepie ----------------------------------
	     19. Section Features -------------------------
	     20. Section Questions ------------------------
	     21. Section Promise --------------------------
	     22. Section Recepies -------------------------
	     23. Section Socials --------------------------
	     24. Slider -----------------------------------
	     25. Socials ----------------------------------
	     26. Subscribe --------------------------------
	     27. Table ------------------------------------
	     28. Widget -----------------------------------
 */

.ico-cart { background-image: url(images/sprite.png); background-position: 10.95890410958904% 81.09756097560977%; background-size: 1316.6666666666665% 1011.1111111111111%; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(images/sprite.png); background-position: 0% 100%; background-size: 2154.5454545454545% 791.3043478260869%; width: 11px; height: 23px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-instagram { background-image: url(images/sprite.png); background-position: 10.185185185185185% 63.35403726708074%; background-size: 1128.5714285714287% 866.6666666666666%; width: 21px; height: 21px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-pinterest { background-image: url(images/sprite.png); background-position: 0% 65.80645161290323%; background-size: 1316.6666666666665% 674.074074074074%; width: 18px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-rss { background-image: url(images/sprite.png); background-position: 21.658986175115206% 62.96296296296296%; background-size: 1185% 910%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-search { background-image: url(images/sprite.png); background-position: 20.909090909090907% 80.60606060606061%; background-size: 1394.1176470588236% 1070.5882352941176%; width: 17px; height: 17px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(images/sprite.png); background-position: 32.870370370370374% 61.44578313253012%; background-size: 1128.5714285714287% 1137.5%; width: 21px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-youtube { background-image: url(images/sprite.png); background-position: 0% 83.125%; background-size: 1185% 827.2727272727274%; width: 20px; height: 22px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo-footer { background-image: url(images/sprite.png); background-position: 0% 0%; background-size: 100% 185.71428571428572%; width: 237px; height: 98px; display: inline-block; vertical-align: middle; font-size: 0; }
.cols:after,
.shell:after,
.dropdown-cols:after,
.features:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #fff; font-family: 'Gotham', 'Helvetica', sans-serif; font-size: 14px; line-height: 1.3; color: #000; }
a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }
a[href^="tel"] { text-decoration: none; }
/*h1 { font-size: 36px; }*/
/*h2 { font-size: 30px; }*/
/*h3 { font-size: 24px; }*/
/*h4 { font-size: 18px; }*/
/*h5 { font-size: 14px; }*/
/*h6 { font-size: 12px; }*/
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@font-face {
	font-family: "Gotham";
	src: url("fonts/GothamLight_300_normal_1426595342.eot");
	src: url("fonts/GothamLight_300_normal_1426595342.eot?#iefix") format("embedded-opentype"),
		url("fonts/GothamLight_300_normal_1426595342.svg#Gotham") format("svg"),
		url("fonts/GothamLight_300_normal_1426595342.woff") format("woff"),
		url("fonts/GothamLight_300_normal_1426595342.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_500_italic_1450277382.eot");
	src: url("fonts/Gotham_500_italic_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_500_italic_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_500_italic_1450277382.woff") format("woff"),
		url("fonts/Gotham_500_italic_1450277382.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_400_italic_1450277382.eot");
	src: url("fonts/Gotham_400_italic_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_400_italic_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_400_italic_1450277382.woff") format("woff"),
		url("fonts/Gotham_400_italic_1450277382.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_400_normal_1450277382.eot");
	src: url("fonts/Gotham_400_normal_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_400_normal_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_400_normal_1450277382.woff") format("woff"),
		url("fonts/Gotham_400_normal_1450277382.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_500_normal_1450277382.eot");
	src: url("fonts/Gotham_500_normal_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_500_normal_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_500_normal_1450277382.woff") format("woff"),
		url("fonts/Gotham_500_normal_1450277382.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_700_normal_1450277382.eot");
	src: url("fonts/Gotham_700_normal_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_700_normal_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_700_normal_1450277382.woff") format("woff"),
		url("fonts/Gotham_700_normal_1450277382.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham_700_italic_1450277382.eot");
	src: url("fonts/Gotham_700_italic_1450277382.eot?#iefix") format("embedded-opentype"),
		url("fonts/Gotham_700_italic_1450277382.svg#Gotham") format("svg"),
		url("fonts/Gotham_700_italic_1450277382.woff") format("woff"),
		url("fonts/Gotham_700_italic_1450277382.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: 'Archer';
    src: url('fonts/archer-medium-pro-webfont.eot');
    src: url('fonts/archer-medium-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/archer-medium-pro-webfont.woff') format('woff'),
         url('fonts/archer-medium-pro-webfont.ttf') format('truetype'),
         url('fonts/archer-medium-pro-webfont.svg#Archer') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -15px; }
.cols:after { }
.col { float: left; width: 100%; padding: 0 15px; }
.col-1of2 { width: 50%; }
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 992px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 993px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
.row-full { margin: 0; }
.row-full [class^="col-"] { padding: 0; }
.-image { background-repeat: no-repeat; background-position:center center; background-size: cover; }
.separator { border-bottom:2px solid; color: #7cbbaf; position: relative; }
.separator:before { content:''; position: absolute; top:-25px; left:50%; background: url(images/div.png) no-repeat 0 0; width: 52px; height:52px; }
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer { background:#81c8bd; color: #5b6770; text-transform: uppercase; font-size:14px; padding-bottom:40px; padding-top:26px; }
.footer a { color: #5b6770; text-decoration: none; 
	transition: color .3s; 
}
.footer a:hover { color: #23527c; }
.footer .footer-body { overflow: hidden; }
.footer .footer-aside { float:right; text-align:right; font-size:11px; }
@media (max-width: 1200px) {
	.footer .footer-aside { float:none; clear:both; text-align:left; padding-left:16px; padding-top:20px; }
}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { position: relative; padding-top:35px; padding-bottom:41px; padding-left:50px; padding-right:37px; }
.header .header-inner { padding-left:300px; position: relative; }
.header .navbar-toggle { margin: 0; background:#90ccbe ; position: absolute; top:0; right:0; z-index: 2; }
.header .navbar-toggle .icon-bar { background:#fff; }
.header .navbar-collapse { clear: both; }
@media (max-width: 1200px) {
	.header { padding-left:0; padding-right:0; }
	.header .header-inner { padding-left:200px; }
}
@media (max-width: 992px) {
	.header { padding: 8px 0; }
	.header .header-inner { padding-left:0; }
	.header .navbar-collapse { padding: 0; }
}
@media (max-width: 767px) {
	.header { padding: 20px 0; }
	.header .navbar-toggle { top:70px;}
}
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 1331px; padding-left: 10px; padding-right: 10px; margin: auto; }
.shell-fluid { max-width: none; }
.shell:after { }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; overflow-x: hidden;}
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Banner
\* ------------------------------------------------------------ */
.banner { text-align:center; background: #90ccbe url(images/banner.jpg) no-repeat center bottom; color: #fff; padding: 37px 0 39px 0; font-size:25px; line-height:1.1; }
.banner h2 { margin: 0 0 0 0; font-size:48px; font-family: 'Archer', 'Helvetica', sans-serif; }
.banner p { margin: 0; text-transform: uppercase; font-weight:500; }
@media (max-width: 1600px) {
	.banner { font-size:22px; }
	.banner h2 { font-size:40px; }
}
/* ------------------------------------------------------------ *\
	Bar
\* ------------------------------------------------------------ */
.bar { text-align:right; padding-bottom:35px; }
@media (max-width: 992px) {
	.bar { padding-bottom:15px; }
}
@media (max-width: 767px) {
	.bar { position:static; text-align:left; padding-top:0; padding-bottom:40px; }
}
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }
/* ------------------------------------------------------------ *\
	Dropdown Cols
\* ------------------------------------------------------------ */
.dropdown-cols { padding: 30px; }
.dropdown-cols:after { }
.dropdown-col { float:left; width: 20%; }
.dropdown-menu { font-size:11px; font-weight:300; box-shadow: none; width: 100%; }
.dropdown-menu a { text-decoration: none; text-transform: uppercase; }
.dropdown-menu ul:not(:last-child) { margin-bottom:15px; }
.dropdown-menu h6 { text-transform: uppercase; margin: 0; font-weight:500; font-size:11px; }
@media (max-width: 1200px) {
	.dropdown-cols { padding: 10px; }
}
@media (max-width: 767px) {
	.dropdown-col { float:none; width: 100%; }
}
/* ------------------------------------------------------------ *\
	Feature
\* ------------------------------------------------------------ */
.features:after { }
.feature { float:left; width: 33.3%; color: #fff; padding-top:47px; min-height: 633px; position: relative; }
.feature .feature-head { color: #5b6770; font-size:18px; font-weight:500; padding-bottom:20px; padding-left:56px; }
.feature .feature-title { font-family: 'Archer', 'Helvetica', sans-serif; font-weight:600; font-size:37px; margin: 0 0 21px 0; max-width: 400px; }
.feature .feature-content { overflow: hidden; }
.feature .feature-image { float:left; }
.feature .feature-aside { overflow: hidden; padding-left:29px; padding-top:12px; }
.feature .feature-bg { position: absolute; top:0; left:0; width: 100%; height:100%; }
@media (max-width: 1600px) {
	.feature { min-height: 610px; }
	.feature .feature-head { padding-left:20px; padding-right:20px; font-size:15px; }
	.feature .feature-title { font-size:32px; }
}
@media (max-width: 1200px) {
	.feature { width: 50%; }
	.feature:last-child { width: 100%; }
}
@media (max-width: 992px) {
	.feature { width: 100%; min-height: 0; padding-top:100%; }
	.feature:first-child { min-height: 0; padding-bottom:0; padding-top:40px; }
	.feature .feature-title { max-width: 100%; }
	.feature .feature-head { padding-left:15px; padding-right:15px; }
	.feature .feature-head br { display:none; }
}
@media (max-width: 767px) {
	.feature .feature-image { width: 50%; }
}
/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input::-moz-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}
/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
.form {}
/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */
.intro { color: #fff; position: relative; }
.intro .intro-body { margin-right:40%; padding-left:60px; padding-top:58px; min-height: 496px; }
.intro .intro-body p { font-size:29px; font-weight:500; }
.intro .intro-title { padding-right: 20px; font-family: 'Archer', 'Helvetica', sans-serif; font-size:73px; margin: 0 0 12px 0; line-height:1.1; font-weight:500; }
.intro .intro-aside { position: absolute; top:0; right:0; width: 40%; height:100%; text-align:center; font-family: 'Archer', 'Helvetica', sans-serif; padding-top:65px; }
.intro .intro-aside h2 { font-size:35px; margin: 0; }
.bg-image {
	background-repeat: no-repeat;
	background-position: center center;
	    background-size: cover;

}
@media (max-width: 1600px) {
	.intro .intro-aside h2 { font-size:30px; }
	.intro .intro-body p {  font-size: 24px; }
	.intro .intro-title { margin-bottom: 20px; font-size: 62px; line-height: 1; }
}
@media (max-width: 1200px) {
	.intro .intro-body { padding: 58px 15px; }
}
@media (max-width: 767px) {
	.intro .intro-body { margin-right:0; min-height: 0; }
	.intro .intro-title { font-size:40px; }
	.intro .intro-aside { position:static; width: 100%; padding: 50px 0; }
}
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	List Features
\* ------------------------------------------------------------ */
.list-features { font-size:18px; font-weight:700; text-transform: uppercase; line-height:36px; }
@media (max-width: 1600px) {
	.list-features { font-size:15px; }
}
@media (max-width: 767px) {
	.list-features { font-size:12px; line-height:2; }
}
/* ------------------------------------------------------------ *\
	List Partners
\* ------------------------------------------------------------ */
.list-partners { font-size:0; margin-bottom:20px; }
.list-partners li { list-style:none; list-style-position: outside; display: inline-block; vertical-align: middle; padding-right:21px; }
@media (max-width: 767px) {
	.list-partners { text-align:center; }
	.list-partners li { padding-right:10px; width: 25%; }
}
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo { position: absolute; top:50%; left:0; -ms-transform: translateY(-50%); transform: translateY(-50%); background: url(images/logo.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; width: 267px; height:111px; display:block; }
@media (max-width: 992px) {
	.logo { width: 150px; height:62px; background-size: 150px 62px; position: relative; top:0; -ms-transform: translateY(0); transform: translateY(0); margin: 12px 0; float:left; }
}
@media (max-width: 767px) {
	.logo { position:absolute; -ms-transform: translateY(0); transform: translateY(0); float:none; display:block; margin: 0; }
}
.logo-footer { float:left; margin-left:50px; }
@media (max-width: 1200px) {
	.logo-footer { margin-left:0; margin-right:20px; }
}
@media (max-width: 767px) {
	.logo-footer { float:none; display:block; margin: 0 auto; }
}
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav { color: #7c868d; font-size:14px; font-weight:700; position: relative; }
.nav>li { padding-right:35px; position:static; float:left; }
.nav>li:last-child { padding-right:0; }
.nav>li > a { text-transform: uppercase; text-decoration: none; padding: 0; background:transparent; }
.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover { background:transparent; }
@media (max-width: 1600px) {
	.nav > li { padding-right: 20px; font-size: 12px; }
}
@media (max-width: 1200px) {
	.nav { font-size:12px; }
	.nav>li { padding-right:10px; }
}
@media (max-width: 992px) {
	.nav { padding-top:20px; }
	.nav>li { float:none; }
}
@media (max-width: 767px) {
	.nav { padding-top:0; }
	.nav>li { float:none; }
}
/* ------------------------------------------------------------ *\
	Nav Utilities
\* ------------------------------------------------------------ */
.nav-utilities { display: inline-block; vertical-align: middle; }
.nav-utilities li { display: inline-block; vertical-align: middle; padding: 0 11px; }
.nav-utilities li a { text-decoration: none; color: #90ccbe; font-size:14px; font-weight:700;
	transition: opacity .3s;
}
.nav-utilities li a:hover { opacity: .7; }
@media (max-width: 767px) {
	.nav-utilities { display:block; text-align:right; }
	.nav-utilities li { padding: 0 5px; }
}
/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */
.nav-footer { font-weight:500; overflow: hidden; float:left; padding-left:16px; padding-top:15px; }
.nav-footer ul { margin: 0; float:left; padding-left:87px; }
.nav-footer ul li { margin-bottom:10px; }
@media (max-width: 1200px) {
	.nav-footer ul:first-child { padding-left:0; }
}
@media (max-width: 992px) {
	.nav.navbar-right { float:none !important; margin-right:0; }
	.nav-footer ul { padding-left:40px; }
}
@media (max-width: 767px) {
	.nav.navbar-right { margin: 0; }
	
	.nav-footer { margin-top:20px; padding: 0; text-align:center; float:none; }
	.nav-footer ul { padding-left:0; width: 50%; margin-bottom:20px; float:none; margin: 0 auto; }
	.nav-footer ul li { margin-bottom:5px; }
}
/* ------------------------------------------------------------ *\
	Navbar
\* ------------------------------------------------------------ */
.navbar { margin: 0; border:0; min-height: 0; }
@media (max-width: 992px) {
	.navbar-toggle { display:block; }
	.navbar-collapse.collapse { display:none !important; }
	.navbar-collapse.collapse.in { display:block !important; }
}
@media (max-width: 767px) {
	.navbar { position:static; }
}
/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */
.products { padding: 35px 0 43px 0; }
.products .products-title { margin: 0 0 15px 0;  font-size:38px; font-weight:500; color: #5d636a; font-family: 'Archer', 'Helvetica', sans-serif; text-align:center; }
.products > ul { overflow: hidden; text-align:center; }
.products > ul > li { float:left; width: 20%; list-style:none; list-style-position: outside; }
.product .product-image { margin-bottom:18px; }
.product .product-title { color: #5d636a; font-size:17px; margin: 0; }
@media (max-width: 1600px) {
	.products .products-title { font-size:32px; }
}
@media (max-width: 767px) {
	.products > ul > li { float:none; width: 100%; text-transform: capitalize; margin-bottom:15px; }
}
/* ------------------------------------------------------------ *\
	Recepie
\* ------------------------------------------------------------ */
.recepies { margin: 0 -15px; }
.recepie { display:block; padding-bottom:76%; }
/* ------------------------------------------------------------ *\
	Section Features
\* ------------------------------------------------------------ */
.section-features { background:#7cbbaf; }
/* ------------------------------------------------------------ *\
	Section Questions
\* ------------------------------------------------------------ */
.section-questions { color: #7c868d; padding: 70px 0 80px 0; }
.section-questions .section-image { float:left; padding-top:0; padding-left:20px; padding-right:20px; }
.section-questions .section-inner { overflow: hidden; }
.section-questions .section-body { overflow: hidden; }
.section-questions .section-title { font-size:40px; color: #7c868d; font-weight:600; text-transform: uppercase; font-family: 'Archer', 'Helvetica', sans-serif; margin: 0 0 33px 0; }
.section-questions .section-content { font-size:25px; line-height:1.4; }
.section-questions .section-content p:not(:last-child) { margin-bottom:22px; }
.section-questions .section-content h5 { font-size:25px; text-transform: uppercase; margin: 0 0 7px 0; }
.section-questions .section-foot { padding-top:30px; }
@media (max-width: 1600px) {
	.section-questions .section-title { font-size:34px; }
	.section-questions .section-content h5 { font-size:22px; }
	.section-questions .section-content { font-size:22px; }
}
@media (max-width: 1200px) {
	.section-questions .section-content { margin-right:0; }
}
@media (max-width: 992px) {
	.section-questions .section-image { padding: 0; width: 50%; text-align:center; }
	.section-questions .section-title { font-size:24px; }
	.section-questions .section-content,
	.section-questions .section-content h5 { font-size:18px; }
}
@media (max-width: 767px) {
	.section-questions .section-body { overflow: visible; }
}
/* ------------------------------------------------------------ *\
	Section Promise
\* ------------------------------------------------------------ */
.section-promise { padding: 80px 0 31px 0; overflow: hidden; }
.section-promise .section-body { float:left; position: relative; }
.section-promise .section-body:before { content:''; position: absolute; top:-109px; left:632px; width: 380px; height:380px; background: url(images/stamp.png) no-repeat 0 0; }
.section-promise .section-inner { position: relative; }
.section-promise .section-inner:after { content: ''; display: table; clear: both; }
.section-promise .section-image { overflow: hidden; position: absolute; top:-35px; right:-60px; }
.section-promise .section-head { color: #72777d; font-size:29px; margin-bottom:22px; }
.section-promise .section-title { margin: 0; font-family: 'Archer', 'Helvetica', sans-serif; font-size:51px; }
.section-promise .section-content { font-size:22px; color: #b7b7b7; line-height:1.4; margin-bottom:45px; }
.section-promise .section-content p:not(:last-child) { margin-bottom:5px; }
@media (max-width: 1600px) {
	.section-promise .section-title { font-size:42px; }
	.section-promise .section-head { font-size:24px; }
	.section-promise .section-content { font-size:18px; }
}
@media (max-width: 1200px) {
	.section-promise { position: relative; }
	.section-promise .section-inner { position:static; }
	.section-promise .section-body { width: 50%; }
	.section-promise .section-body:before { display:none; }
	.section-promise .section-body br { display:none; }
	.section-promise .section-image { top:auto; bottom:0; }
}
@media (max-width: 992px) {
	.section-promise { padding: 40px 0; }
	.section-promise .section-body { width: auto; }
	.section-promise .section-image { display:none; }
}
@media (max-width: 767px) {
	.section-promise .section-title { font-size:30px; }
	.section-promise .section-head { font-size:20px; }
	.section-promise .section-content { font-size:16px; }
}
/* ------------------------------------------------------------ *\
	Section Recepies
\* ------------------------------------------------------------ */
.section-recepies { padding: 48px 0 0 0; overflow: hidden; }
.section-recepies .section-title { text-align:center; font-family: 'Archer', 'Helvetica', sans-serif; color: #7c868d; font-size:38px; margin: 0 0 30px 0; }
@media (max-width: 1600px) {
	.section-recepies .section-title { font-size:32px; }
}
/* ------------------------------------------------------------ *\
	Section Socials
\* ------------------------------------------------------------ */
.section-socials { text-align:center; padding: 65px 15px; }
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {}
.slider .slides { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */
.socials { display: inline-block; vertical-align: middle; }
.socials li { list-style:none; list-style-position: outside; display: inline-block; vertical-align: middle; padding: 0 6px; }
.socials a { display:block; 
	transition: opacity .3s; 
}
.socials a:hover { opacity: .7; }
@media (max-width: 767px) {
	.socials { margin-bottom:10px; display:block; text-align:right; }
	.socials li { padding: 0 2px; }
}
/* ------------------------------------------------------------ *\
	Subscribe
\* ------------------------------------------------------------ */
.subscribe .subscribe-label { display:block; font-weight:400; margin: 0 0 19px 0; font-size:20px; }
.subscribe .subscribe-controls { position: relative; padding-right:125px; }
.subscribe .subscribe-field { display:block; width: 100%; border:2px solid #e7e7e5; height:54px; padding: 0 20px; border-radius: 0; box-shadow: none; }
.subscribe .subscribe
-field:focus { box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); }
.subscribe .subscribe-btn { color: #0fb0b3; text-transform: uppercase; font-weight:700; border:0; font-size:22px; position: absolute; height:54px; top:0; right: 0; padding: 0 22px; background:transparent; }
@media (max-width: 1600px) {
	.subscribe .subscribe-label { font-size:16px; }
	.subscribe .subscribe-btn { font-size:18px; }
}
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table {}
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }


/*------------------------------------------------------------------------------*/
/*Yang's part.*/

/*main section */
#mainsection {
	background-color: #7cbbaf;
	padding: 0;
}
#mainsection .col-lg-4 {
	margin-left: 60px;
    margin-top: 30px;
    color: #7c868d;
}
#mainsection h2 {
	font-size: 60px;
	font-family: 'Archer', 'Helvetica', sans-serif;
	
}
#mainsection p {
	
	font-size: 38px;
	font-weight: 500;
}
/*main section for image*/
#mainsection .col-lg-7 {
	margin-left: 20px;
	padding: 0;
  	float: right;
}

#questionmainpic {
	width: 100%;
}
/*questions asked section*/
#maincontent {
 	margin-top: 40px;
 }
#maincontent .col-lg-9 {
 	width: 59%;
 	font-family: 'Archer', 'Helvetica', sans-serif;
 	color: #7c868d;
 	margin-left: 5%;
 }
#maincontent .col-lg-9 li {

    font-size: 22px;
    margin: 10px;
 }
#maincontent .col-lg-9 a {
  	 	text-decoration: none;
  }

/*questions answered section*/
#maincontent .col-lg-9 .answerfaq h2{
   		font-size: 30px;
   }
 #maincontent .col-lg-9 .answerfaq {
    	margin-top: 60px;
   }
#maincontent .col-lg-9 .answerfaq p {
	font-size: 18px;
	margin: 30px 0;
}
#maincontent .col-lg-3 {
	margin-left: 11%;
	padding-right: 1%;
}

/*side chef1 section*/
#chef1 h2{
	letter-spacing: 7px;
	font-family: 'Archer', 'Helvetica', sans-serif;
	color: #7c868d;
	text-align: center;
}
#chef1img {
	width: 100%;
}
#chef1 h6 {
	color: #7c868d;
	font-size: 16px;
	margin-top: 30px;

}
#chef1 p {
	color: #7c868d;
	font-size: 18px;
}
#chef1 a {
	text-decoration: none;
	color: #7cbbaf;
	font-weight: 700;
}

/*side chef2 section*/
#chef2 {
	margin-top: 90px;
}
#chef2img {
	width: 100%;
}

#chef2 h6 {
		color: #7c868d;
	font-size: 16px;
	margin-top: 30px;
}
#chef2 p {
	color: #7c868d;
	font-size: 18px;
}

#chef2 a {
	text-decoration: none;
	color: #7cbbaf;
	font-weight: 700;
}

/*Responsive Design*/
@media only screen and (max-width: 1725px){
	#mainsection h2 {
		font-size: 40px;
	}
	#mainsection p {
		font-size: 22px;
	}
	#mainsection {
		height: 500px;
	}
	#questionmainpic {
		height: 500px;
	}
}
@media only screen and (max-width: 1572px){
	#mainsection .col-lg-4 {
		width: 20%;
	}
}
@media only screen and (max-width: 1445px) {
	#mainsection h2{
		margin: 0;
	}
}
@media only screen and (max-width: 1200px) {
	#maincontent .col-lg-9{
		margin-left: 20%;
	}
	#mainsection .col-lg-4{
		float: left;
	}
}
@media only screen and (max-width: 1118px){
	#mainsection .col-lg-4{
		text-align: center;
		width: 90%;
		margin-bottom: 30px;
	}

	#mainsection .col-lg-7{
		margin-left: 0;
		float: inherit;
	}
	#mainsection{
		height: 803px;
	}
}
@media only screen and (max-width: 635px){
	#mainsection{
		height: 830px;
	}
	#mainsection .col-lg-4{
		width: 80%;
	}
}
@media only screen and (max-width: 512px){
	#mainsection{
		height: 886px;
	}
}
